package ^tableName^

import (
	"strconv"

	"bajscheme/models"
)

templ Update^CtableName^(^tableName^ models.^CtableName^, tz string) {
	<h1 class="text-2xl font-bold text-center mb-8">
		Update ^tableNameSpaces^ #{ strconv.Itoa(int(^tableName^.ID)) }
	</h1>
	<section class="max-w-2xl w-4/5 h-96 mx-auto bg-slate-600 rounded-lg shadow-xl">
		<form class="rounded-xl flex flex-col gap-4 w-11/12 p-4 mx-auto" action="" method="post" hx-swap="transition:true">
        ^formFields^
			<footer class="card-actions flex justify-between">
				<div class="flex gap-4">
					<button class="btn btn-primary p-4 hover:scale-[1.1]">
						Update
					</button>
					<a href="/^tableName^/list" class="btn btn-neutral p-4 hover:scale-[1.1]">
						Cancel
					</a>
				</div>
			</footer>
		</form>
	</section>
}
