package handlers

import (
	"fmt"
	"net/http"
	"strconv"
	"strings"
	"errors"

	"bajscheme/models"
	"bajscheme/db"
	"bajscheme/views/^tableName^"
	"github.com/gin-gonic/gin"
	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"gorm.io/gorm"
)


func create^CtableName^Handler(c *gin.Context) error {
isError = false
if c.Request.Method == http.MethodPost {
	^tableName^Model := models.^CtableName^{}
	c.Bind(&^tableName^Model)
	//err := ctx.ShouldBindJSON(&createTagRequest)
	//helper.ErrorPanic(err)

	new^CtableName^ := models.New^CtableName^Repository(db.DB)
	new^CtableName^.Create(&^tableName^Model)

setFlashmessages(c, "success", "^CtableName^ created successfully!!")
	c.JSON(http.StatusOK, gin.H{
			"Code":   200,
		"Status": "Ok",
		"Data":   nil,
	})
	}
	username_key_value, ok  := c.Get(username_key)
	if !ok {
		fmt.Println("Some error")
	}
	return renderView(c, ^tableName^.^CtableName^Index(
		"| Create ^CtableName^",
		username_key_value.(string),
		fromProtected,
		isError,
		getFlashmessages(c, "error"),
		getFlashmessages(c, "success"),
		^tableName^.Create^CtableName^(),
	))

}

func ^tableName^ListHandler(c *gin.Context) error {
	isError = false
	userId, ok := c.Get(user_id_key)
	if !ok {
		fmt.Println("Some error")
	}
	new^CtableName^ := models.New^CtableName^Repository(db.DB)
	all^CtableName^, err := new^CtableName^.GetAll()

	if err != nil {
	fmt.Println(err)
	}


	titlePage := fmt.Sprintf(
		"| %s's ^CtableName^ List",
		cases.Title(language.English).String(userId.(string)),
	)

	return renderView(c, ^tableName^.^CtableName^Index(
		titlePage,
		userId.(string),
		fromProtected,
		isError,
		getFlashmessages(c, "error"),
		getFlashmessages(c, "success"),
		^tableName^.^CtableName^List(titlePage, all^CtableName^),
	))
}

func update^CtableName^Handler(c *gin.Context) error {
	isError = false

	idParams, err := strconv.Atoi(c.Param("id"))
	if err != nil {
		return err
	}
	new^CtableName^ := models.New^CtableName^Repository(db.DB)
	
	^tableName^Model , err := new^CtableName^.GetSingle(idParams)

	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			c.AbortWithError(http.StatusNotFound, fmt.Errorf(
				"something went wrong: %s",
				err,
			))
		}
		c.AbortWithError(http.StatusInternalServerError, fmt.Errorf(
				"something went wrong: %s",
				err,
			))
	}
		//^tableName^Model := models.^CtableName^{}
	c.Bind(^tableName^Model)
	//err := ctx.ShouldBindJSON(&createTagRequest)
	//helper.ErrorPanic(err)

	//new^CtableName^ := models.New^CtableName^Repository(db.DB)
	err = new^CtableName^.Update(^tableName^Model)

	if err != nil {
		if strings.Contains(err.Error(), "no rows in result set") {

			c.AbortWithError(http.StatusNotFound, fmt.Errorf(
				"something went wrong: %s",
				err,
			))
			

		}

		c.AbortWithError(http.StatusInternalServerError, fmt.Errorf(
			"something went wrong: %s",
			err,
		))

	}


		setFlashmessages(c, "success", "^CtableName^ successfully updated!!")

	//	return c.Redirect(http.StatusSeeOther, "/^tableName^/list")
	//}

username, _ := c.Get(username_key)
tz, _ := c.Get(tzone_key)
		return renderView(c, ^tableName^.^CtableName^Index(
		fmt.Sprintf("| Edit ^CtableName^ #%d", ^tableName^Model),
		username.(string),
		fromProtected,
		isError,
		getFlashmessages(c, "error"),
		getFlashmessages(c, "success"), // ↓ getting time zone from context ↓
		^tableName^.Update^CtableName^(*^tableName^Model, tz.(string)),
	))

}

func delete^CtableName^Handler(c *gin.Context) {
	idParams, err := strconv.Atoi(c.Param("id"))
	if err != nil {
		fmt.Println(err)
	}

	//t := models.^CtableName^{
	//	CreatedBy: c.Get(user_id_key).(int),
	//	ID:        idParams,
	//}

	new^CtableName^ := models.New^CtableName^Repository(db.DB)
	err = new^CtableName^.Delete(idParams)
	if err != nil {
		if strings.Contains(err.Error(), "an affected row was expected") {

			c.AbortWithError(http.StatusNotFound, fmt.Errorf(
				"something went wrong: %s",
				err,
			))
			

		}

		c.AbortWithError(http.StatusInternalServerError, fmt.Errorf(
			"something went wrong: %s",
			err,
		))

	}

	setFlashmessages(c, "success", "^CtableName^ successfully deleted!!")

	c.Redirect(http.StatusSeeOther, "/^tableName^/list")
}
